.course{
    margin-bottom: 13px;
    font-size: 24px;
    font-weight: 700
}

.course-container{
    margin-right: 15px;
    margin-bottom: 15px;
}

.course-images{
    margin-top: 5px;
    margin-bottom: 5px;
}
