li.teacher-item{
    background: #e5e4e5;
    box-shadow: 0 0 14px 0 rgba(0,8,0,0.02);
    border-radius: 12px;
    padding: 10px;
}

li.teacher-item header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
li.teacher-item header img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
}
li.teacher-item header .teacher-info{
    margin-left: 10px;
}

li.teacher-item p {
    color: #666;
    font-size: 14px;
    line-height: 28px;
    margin-top: 8px;
    margin-bottom: .5rem;
    margin-right: 0;
    word-break:normal;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

li.teacher-item a{
    color: #1492E6;
    font-size: 14px;
    text-decoration: none;
}
li.teacher-item a:hover, li.teacher-item header strong:hover{
    color: #4150f0 !important;
}
.teacher-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    list-style: none;
    padding:0;
    margin-top: 16px;
}
@media (max-width: 650px){
    .teacher-list{
        grid-template-columns: 1fr;
    }
}
.teacher-info strong{
    display: block;
    font-size:16px;
    color: #333;
}
.teacher-info span{
    font-size:13px;
    color: #999;
    margin-top: 2px;
}
.pagination{
    justify-content: center;
}
